annotated-types
anyio
cachetools
certifi
cffi
charset-normalizer
click
contourpy
cryptography
cycler
dnspython
ecdsa
email_validator
fastapi
filelock
fonttools
fsspec
google-auth
google-auth-oauthlib
h11
idna
itsdangerous
Jinja2
kiwisolver
MarkupSafe
matplotlib
mpmath
networkx
numpy
oauthlib
opencv-python
packaging
pandas
passlib
pillow
psutil
py-cpuinfo
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
pymongo
pyparsing
python-dateutil
python-dotenv
python-jose
python-multipart
pytz
PyYAML
requests
requests-oauthlib
rsa
scipy
setuptools
six
sniffio
starlette
sympy
torch
torchvision
tqdm
typing-inspection
typing_extensions
tzdata
ultralytics
ultralytics-thop
urllib3
uvicorn
bcrypt
passlib[bcrypt]
google-cloud-storage
apscheduler
